.base {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border: 0;
  border-radius: 8px;
  box-shadow: 0 0 1px 0 #555;
  flex-direction: column;
  width: 30rem;
}

.container div span {
  line-height: 1.6;
}

.header {
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  line-height: 1.6;
  border-radius: 1rem;
  background-image: linear-gradient(to bottom right, #E25822, #7480FF)
}

.main {
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #85949F;
  gap: 2rem;
}

.main button {
  margin-bottom: 2rem;
}

.main button:hover {
  background: #7430FE;
}

.button {
  border: transparent;
  background: #7480FF;
  padding: 0.5rem;
  color: white;
  border-radius: 8px;
  font-weight: bold;
  line-height: 1.6;
  width: 10rem;

  transition: background 0.4s;
}

.button:hover {
  background: #7430FE;
}

.actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 10rem;
  flex: 1;
  flex-direction: row;
  width: 100%;
  justify-items: center;
  gap: 0.5rem;

  margin-bottom: 2rem;
}